VITE_SUPABASE_URL=你的_SUPABASE_URL
VITE_SUPABASE_ANON_KEY=你的_SUPABASE_ANON_KEY
FEISHU_WEBHOOK=https://open.feishu.cn/open-apis/bot/v2/hook/8d331a00-4129-4e61-961e-14384ffb56da
CRON_SECRET=随便填一串密码_例如_MySecret123